.coffee-card {
    border: 1px solid;
    width: 100%;
    max-width: 280px;
    background: var(--color-primaryColor);
    border-radius: 12px;
    overflow: hidden;
    transition: 0.4s;
}

.img-section {
    height: 160px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-section img {
    -webkit-filter: drop-shadow(5px 5px 15px #000000);
    filter: drop-shadow(5px 5px 15px #000000);
    transition: 0.4s;
}

.img-bg-shadow {
    height: 1px;
    width: 1px;
    background: var(--color-Secondary);
    border-radius: 50%;
    box-shadow: 0 0 70px 40px var(--color-Secondary);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.coffee-card-content {
    background: #00000079;
    border-radius: 12px;
    color: white;
    padding: 10px;
    height: fit-content;
}

.coffee-card:hover .img-section img{
    transform: scale(1.1) rotate(10deg);
}